<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<ul class="nav nav-tabs" th:fragment="navigationPanel(active)">
		<li role="presentation" th:classappend="${active == null || #strings.isEmpty(active) || active == 'visualize'} ? active : inactive"><a href="/"><strong th:text="${visualizeText} ?: 'Visualize'">Visualize</strong></a></li>
		<li role="presentation" th:classappend="${active == 'analyze'} ? active : inactive"><a href="/analyze"><strong th:text="${analyzeText} ?: 'Analyze'">Analyze</strong></a></li>
	</ul>
</body>
</html>