<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SFPD Police Data Analyzer</title>
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	
	<style type="text/css">
		.pointer {
		    cursor: pointer;
		}
	</style>
</head>

<body>

	<div class="container-fluid">

		<h1>SFPD Police Data Analyzer</h1>
		
		<div th:replace="navigationPanel :: navigationPanel(active='visualize')"></div>
		
		<div th:replace="selectPanel :: selectPanel(onSubmit='sfpd.loadHeatMap()')"></div>

		<div class="panel panel-default">

			<div id="resultList" class="panel-heading">
				<h3 class="panel-title" th:text="${resultsText} ?: 'Results'">Results</h3>
			</div>

			<div class="panel-body">
				<div id="messageArea" class="row">
				</div>
				
				<div class="row">
					<div id="resultPanelSummary" class="col-md-4"><p>Incidents: <span id="resultCounter">0</span></p></div>
				</div>
				
				<div class="row">
					<div id="map" class="col-md-6" style="height:800px;width:900px;"></div>
				</div>

			</div>

			<div id="uris" th:attr="data-uri=${api},data-uri-category=${apiWithCategory},search-uri=${searchApi}"></div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
		
	<script type="text/javascript"
		th:src="@{/webjars/spin-js/spin.js}"></script>
		
	<script type="text/javascript"
		th:src="@{/webjars/spin-js/jquery.spin.js}"></script>

	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/alert.js}"></script>

	<script type="text/javascript" th:src="@{/webjars/URI.js/URI.min.js}"></script>

	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?@maps.api.key.parameter@&amp;libraries=visualization"></script>
		
	<script type="text/javascript" src="/js/sfpd.js"></script>

	<script type="text/javascript">
        $(sfpd.init);
    </script>
</body>
</html>